body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	position:relative;
	width:100%;


}

.header {
	height: 5em;
	width: 100%;
	padding: 3em 0;
}

h1 {
	font-size: 38px;
}

.nav-bar {
	width: 100%;
	margin-top: 0;
	border-bottom: 1px solid gray;
	min-height:50px;
	font-size:25px;
	padding-top: 5px;
}

.nav-bar a {
	font-weight:bolder;
	color: #dbe21f;
}

a {
	text-decoration: none;

}


ul {
	list-style-type: none;
	margin:0;
}

ul li {
	display: inline;
	margin: 0 20px;
}

.project img {
	width: 100%;
	border: 1px solid black;
}

.container {
	width: 100%;
}

.title-contents {
	width: 50%;
	min-height:200px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid gray;
	max-width: 300px;
	padding: 10px;
	font-size:30px;
	position:relative;
	top:-300px;


}

nav, .title-contents {
	background-color: #3bb374;
  	background: linear-gradient(160deg, #3bb374, #579d4e);
  	border-bottom: 2px solid gray;
}

.projects, .summary {
	margin: 0 auto;
	background-color: #eeeeee;
	max-width: 800px;
	padding: 20px;
}

.summary {
	text-align: justify;

}

.project-list {
	display: flex;
	display: -webkit-flex;
	text-align: center;
}

.project {
	width: 33%;
	margin:1em;
}

.main-background {
		background-color: #dbddd4;
    min-width: 100%;
    min-height:400px;
}

.parallax {
  -webkit-perspective: 20px;
          perspective: 3px;
  perspective-origin: 0 100%;
  -webkit-perspective-origin:100% 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;

}

.parallax_layer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
.parallax_layer_base {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);

}
.parallax_layer_back {
  -webkit-transform: translateZ(-2px) scale(2);
          transform: translateZ(-2px) scale(2);
					top:200px;
}


ul, .projects, .summary {
	max-width: 800px;
	margin: auto;
}


@media (max-width: 630px) {
	body {
		font-size: 20px;
	}

	.header {
		background-image: none;
		padding: 0;
		margin:0;
		height: 5em;
	}

	nav {
		padding-bottom: 1em;
	}

	ul li {
		margin-bottom: 1em;
		border-bottom: 1px solid gray;
		display: block;
		margin-left: 5px;
	}


	.title-contents, .nav-bar, .header {
		border: none;
		width: 100%;
		margin: auto;
		background: none;
		background-color: #3bb374;

	}

	.title-contents {
		padding:1em 0;
	}


	.project-list {
		display: block;
	}

	.project {
		width: 90%;
		margin: auto;
	}

}
