body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	background-color: #dbddd4;

}

header {
	background-image: url('../images/montrealPanorama.jpg');
	background-color: #8BCC98;
	height: 12em;
	width: 100%;
	padding: 3em 0;
}

h1 {
	font-size: 38px;
}

nav {
	width: 100%;
	margin-top: 0;
	border-bottom: 1px solid gray;
	
}

a {
	text-decoration: none;
	color: black;
}


ul {
	list-style-type: none;
	margin:0;
}

ul li {
	display: inline;
	margin: 0 20px;
}

.project img {
	width: 100%;
	border: 1px solid black;
}

.container {
	width: 100%;
}

.title-contents {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border: 1px solid gray;
	max-width: 300px;
	padding: 1em;
	
}

nav, .title-contents {
	background-color: #3bb374;
  	background: linear-gradient(160deg, #3bb374, #579d4e);
  	border-bottom: 2px solid gray;
}

.projects, .summary {
	margin: 0 auto;
	background-color: #eeeeee;
	max-width: 800px;
	padding: 20px;
}

.summary {
	text-align: justify;

}

.project-list {
	display: flex;
	display: -webkit-flex;
	text-align: center;
}

.project {
	width: 33%;
	margin:1em;
}


@media (min-width: 800px){
	ul, .projects, .summary {
		max-width: 800px;
		margin: auto;
	}
}

@media (max-width: 630px) {
	body {
		font-size: 20px;
	}

	header {
		background-image: none;
		padding: 0;
		margin:0;
		height: 100%;
	}

	nav {
		padding-bottom: 1em;
	}

	ul li {
		margin-bottom: 1em;
		border-bottom: 1px solid gray;
		display: block;
		margin-left: 5px;
	}


	.title-contents, nav, header {
		border: none;
		width: 100%;
		margin: auto;
		background: none;
		background-color: #3bb374;
		
	}

	.title-contents {
		padding:1em 0;
	}


	.project-list {
		display: block;
	}

	.project {
		width: 90%;
		margin: auto;
	}

}

