body {
	font-family: 'Open Sans Condensed', sans-serif;

}

a {
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
	margin-right: 20px;
}

.title {
	background-color: #8BCC98;
	height: 200px;
}

.title-contents {
	display: block;
	vertical-align: center;
	text-align: center;
	border: 1px solid black;
	max-width: 300px;
	padding: 10px;
	
	margin-right: auto;
	margin-left: auto;
	
}

.link-menu  {
	background-color: #8BCC98;
	text-decoration: none;
}

.contents {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: #E8E8E7;
}

